In [1]:
from sklearn import datasets
import pandas as pd

In [2]:
iris = datasets.load_iris()

In [3]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)

In [4]:
#Seriesの作成(リストから)
l = [1,2,3,4,5]
s = pd.Series(l)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
#DataFrameの作成(2重のリストから)
m = [
    [1,"yamada","taro","man"],
    [2,"yamada","hanako","woman"],
    [3,"suzuki","ichiro","man"],
    [4,"suzuki","jiro","man"],
    [5,"suzuki","saburo","man"],
]

names = ["id","family_name","first_name","gender"]

#columns引数でカラム名を指定できる
name_df = pd.DataFrame(m,columns=names)
name_df

   id family_name first_name gender
0   1      yamada       taro    man
1   2      yamada     hanako  woman
2   3      suzuki     ichiro    man
3   4      suzuki       jiro    man
4   5      suzuki     saburo    man

In [18]:
#DataFrameの作成(ディクショナリから)
d = {
    "id":[1,2,3,4,5],
    "is_smoking":[True,False,True,False,True],
    "gender":["m","m","m","f","f"]
}

names = ["id","is_smoking","gender"]
         
#columns引数でカラムの順番を指定できる
#指定しないと順番は保障されない
smoking_df = pd.DataFrame(d,columns=names)
smoking_df

   id  is_smoking gender
0   1        True      m
1   2       False      m
2   3        True      m
3   4       False      f
4   5        True      f

In [20]:
#n行×1列のデータをSeries形式で読み込む
#headerがなければNoneを指定する

In [21]:
#n行×m列のデータをDataFlame形式で読み込む
#sep:区切り文字の指定。デフォルトは","

headメソッド

In [22]:
#head()で先頭6行表示
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [23]:
#head(n)で先頭n行表示
df.head(1)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2

tailメソッド

In [24]:
#tail()で末尾から表示もできる
df.tail(3)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

カラム・インデックスの情報の確認

In [25]:
#カラム名を取得
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [26]:
#インデックス名を取得
df.index

RangeIndex(start=0, stop=150, step=1)

行数・列数の確認

In [27]:
#列数の確認
len(df.columns)

4

In [28]:
#行数の確認
len(df.index)

150

基礎統計量の確認

In [29]:
#describe()で基礎統計量の確認
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667
std,0.828066,0.433594,1.764420,0.763161
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

名称の書き換え

In [33]:
#インデックスを同じ長さの上書き
#(カラムも同様の方法で上書きできる)
df.index = range(101,251)
df.index

RangeIndex(start=101, stop=251, step=1)

列名でSeriesとしてアクセス

In [45]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [46]:
df.columns = ["SepalLength", "SepalWidth", "PetalLength", "PetalWidth"]

In [47]:
#特定の1列をSries型で取得
df["SepalLength"].head()

101    5.1
102    4.9
103    4.7
104    4.6
105    5.0
Name: SepalLength, dtype: float64

In [48]:
#1~n列をDataFrame型で取得
df[["SepalLength","SepalWidth"]].head()

     SepalLength  SepalWidth
101          5.1         3.5
102          4.9         3.0
103          4.7         3.2
104          4.6         3.1
105          5.0         3.6

In [49]:
#ixを使えば行番号・列番号・列名・列番号いずれかで指定できる。
df.loc[100:115,["SepalLength","PetalLength"]]

     SepalLength  PetalLength
101          5.1          1.4
102          4.9          1.4
103          4.7          1.3
104          4.6          1.5
105          5.0          1.4
106          5.4          1.7
107          4.6          1.4
108          5.0          1.5
109          4.4          1.4
110          4.9          1.5
111          5.4          1.5
112          4.8          1.6
113          4.8          1.4
114          4.3          1.1
115          5.8          1.2

In [50]:
#条件文でデータのフィルタリング
#df[ブール値のリスト]という形で指定する
df[df.SepalLength > 7.5]

     SepalLength  SepalWidth  PetalLength  PetalWidth
206          7.6         3.0          6.6         2.1
218          7.7         3.8          6.7         2.2
219          7.7         2.6          6.9         2.3
223          7.7         2.8          6.7         2.0
232          7.9         3.8          6.4         2.0
236          7.7         3.0          6.1         2.3

In [54]:
#queryメソッドを使うと列名をそのまま文字列で書ける
#df.query("Name == 'Iris-virginica'").head()

In [55]:
#queryメソッドは@で変数を埋め込むこともできる
#name = #Iris-versicolor"
#df.query("Name == @name").head()

In [56]:
#indexを指定することもできる
df.query("index in [130,131,132]")

     SepalLength  SepalWidth  PetalLength  PetalWidth
130          4.7         3.2          1.6         0.2
131          4.8         3.1          1.6         0.2
132          5.4         3.4          1.5         0.4

ある一つの列の値による並べ替え

In [58]:
#sort_valuesでデータをソートできる
df.sort_values(by=["SepalLength"]).head()

     SepalLength  SepalWidth  PetalLength  PetalWidth
114          4.3         3.0          1.1         0.1
143          4.4         3.2          1.3         0.2
139          4.4         3.0          1.3         0.2
109          4.4         2.9          1.4         0.2
142          4.5         2.3          1.3         0.3

複数列の値による並べ替え

In [59]:
#複数要素でソートできる
df.sort_values(by=["PetalLength","PetalWidth"]).head()

     SepalLength  SepalWidth  PetalLength  PetalWidth
123          4.6         3.6          1.0         0.2
114          4.3         3.0          1.1         0.1
115          5.8         4.0          1.2         0.2
136          5.0         3.2          1.2         0.2
103          4.7         3.2          1.3         0.2

In [64]:
#降順ソート
df.sort_values(by=["PetalLength","PetalWidth"],ascending=False).head()

     SepalLength  SepalWidth  PetalLength  PetalWidth
219          7.7         2.6          6.9         2.3
218          7.7         3.8          6.7         2.2
223          7.7         2.8          6.7         2.0
206          7.6         3.0          6.6         2.1
232          7.9         3.8          6.4         2.0

In [65]:
#昇順ソート
df.sort_values(by=["PetalLength","PetalWidth"],ascending=True).head()

     SepalLength  SepalWidth  PetalLength  PetalWidth
123          4.6         3.6          1.0         0.2
114          4.3         3.0          1.1         0.1
115          5.8         4.0          1.2         0.2
136          5.0         3.2          1.2         0.2
103          4.7         3.2          1.3         0.2

concatによる縦方向の単純結合

In [68]:
#2つのDataGrameをconcatメソッドで縦方向に結合する
smoking1_df = pd.DataFrame(
    {"member":["A","B","C","D","E"],
     "is_smoking":[1,1,0,0,0]},
    columns=["member","is_smoking"]
) 

smoking2_df = pd.DataFrame(
    {"member":["F","G","H","I","J"],
     "is_smoking":[0,1,0,0,1]},
    columns=["member","is_smoking"]
) 

smoking_df = pd.concat([smoking1_df,smoking2_df])
smoking_df

  member  is_smoking
0      A           1
1      B           1
2      C           0
3      D           0
4      E           0
0      F           0
1      G           1
2      H           0
3      I           0
4      J           1

concatによる横方向の単純結合

In [70]:
#2つのDataFrameを横方向に結合する(axix = 1を指定)
smoking3_df = pd.DataFrame(
    {"gender":["male","female","male","male","female"],
     "age":[24,55,30,42,28]},
    columns=["gender","age"]
)

smoking_df = pd.concat([smoking1_df,smoking3_df],axis=1)
smoking_df

  member  is_smoking  gender  age
0      A           1    male   24
1      B           1  female   55
2      C           0    male   30
3      D           0    male   42
4      E           0  female   28

mergeによる内部結合

In [71]:
df1 = pd.DataFrame(
    {'A':['A0','A1','A2','A3'],
     'B':['B0','B1','B2','B3'],
     'C':['C0','C1','C2','C3'],
     'D':['D0','D1','D2','D3']},
     index=[0,1,2,3]
)

df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [73]:
df2 = pd.DataFrame(
    {'B':['B2','B3','B6','B7'],
     'F':['F2','F3','F6','F7']},
    index=[2,3,6,7]
)

df2

    B   F
2  B2  F2
3  B3  F3
6  B6  F6
7  B7  F7

In [74]:
#B列をキーにしてINNER JOIN
inner_df = pd.merge(df1,df2,on=["B"],how="inner")
inner_df

    A   B   C   D   F
0  A2  B2  C2  D2  F2
1  A3  B3  C3  D3  F3

mergeによる外部結合

In [77]:
#idをキーにしてLEFT JOIN
#値がない所はNaNになる
left_df = pd.merge(df1,df2,on=["B"],how="left")
left_df

    A   B   C   D    F
0  A0  B0  C0  D0  NaN
1  A1  B1  C1  D1  NaN
2  A2  B2  C2  D2   F2
3  A3  B3  C3  D3   F3

基本的な集計

In [91]:
#平均 .mean()
df.mean()

SepalLength    5.843333
SepalWidth     3.054000
PetalLength    3.758667
PetalWidth     1.198667
dtype: float64

In [90]:
#中央値 .median()
df.median()

SepalLength    5.80
SepalWidth     3.00
PetalLength    4.35
PetalWidth     1.30
dtype: float64

In [89]:
#分散 .var()
df.var()

SepalLength    0.685694
SepalWidth     0.188004
PetalLength    3.113179
PetalWidth     0.582414
dtype: float64

In [88]:
#標準偏差 .std()
df.std()

SepalLength    0.828066
SepalWidth     0.433594
PetalLength    1.764420
PetalWidth     0.763161
dtype: float64

In [87]:
#合計 .sum()
df.sum()

SepalLength    876.5
SepalWidth     458.1
PetalLength    563.8
PetalWidth     179.8
dtype: float64

In [86]:
#カウント .count()
df.count()

SepalLength    150
SepalWidth     150
PetalLength    150
PetalWidth     150
dtype: int64

groupbyによる集計

In [82]:
#グループにカウント
df.groupby("PetalWidth").count()

            SepalLength  SepalWidth  PetalLength
PetalWidth
0.1                   6           6            6
0.2                  28          28           28
0.3                   7           7            7
0.4                   7           7            7
0.5                   1           1            1
0.6                   1           1            1
1.0                   7           7            7
1.1                   3           3            3
1.2                   5           5            5
1.3                  13          13           13
1.4                   8           8            8
1.5                  12          12           12
1.6                   4           4            4
1.7                   2           2            2
1.8                  12          12           12
1.9                   5           5            5
2.0                   6           6            6
2.1                   6           6            6
2.2                   3           3            3
2.3                   8           8            8
2.4                   3           3            3
2.5                   3           3            3

In [94]:
#クロス集計のためのデータ作成
df["idx"] = df.index.to_series() % 3
df.head(7)

     SepalLength  SepalWidth  PetalLength  PetalWidth  idx
101          5.1         3.5          1.4         0.2    2
102          4.9         3.0          1.4         0.2    0
103          4.7         3.2          1.3         0.2    1
104          4.6         3.1          1.5         0.2    2
105          5.0         3.6          1.4         0.2    0
106          5.4         3.9          1.7         0.4    1
107          4.6         3.4          1.4         0.3    2

In [95]:
df.pivot_table(
    ["SepalLength","SepalWidth"],
    aggfunc="mean",
    fill_value=0,
    index="idx",
)

     SepalLength  SepalWidth
idx
0          5.822       3.120
1          5.866       2.998
2          5.842       3.044

ユニーク化

In [96]:
#ユニークにする
no_dup_df = df.drop_duplicates()
print("そのまま",len(df))
print("重複なし",len(no_dup_df))

そのまま 150
重複なし 149

NaNを補完

In [101]:
#NaNを補完
left_df.fillna("fill")

    A   B   C   D     F
0  A0  B0  C0  D0  fill
1  A1  B1  C1  D1  fill
2  A2  B2  C2  D2    F2
3  A3  B3  C3  D3    F3

NaNを削除

In [99]:
#NaNが含まれている行を削除
left_df.dropna()

    A   B   C   D   F
2  A2  B2  C2  D2  F2
3  A3  B3  C3  D3  F3

NameError: name 'df' is not defined